<app-header></app-header>
<div class="hero-wrap js-fullheight" style="background-image: url('../../../assets/images/bg_1.jpg'); padding-bottom: 30%;"
     data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
         data-scrollax-parent="true">
    </div>
  </div>
</div>


<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row block-9">
      <section class="container">
        <div class="row blog-entries element-animate">
          <form action="" method="post" style="border: red;border-bottom-width: 2px;
            border-bottom-style: solid;border-top-width: 2px;border-top-style: solid;border-right-width: 2px;
            border-right-style: solid;border-left-width: 2px;border-left-style: solid;margin-bottom: 20px;padding: 2%; width: 100%">
            <b>Email of account to change role</b>
            <input type="text" placeholder="Enter Email" name="email" required>
            <select style="height: 34px;" name="role">
              <option>user</option>
              <option>moderator</option>
              <option>admin</option>
            </select>
            <button type="submit" class="registerbtn">Change role</button>
          </form>
          <form action="" method="post" style="border: red;border-bottom-width: 2px;
            border-bottom-style: solid;border-top-width: 2px;border-top-style: solid;border-right-width: 2px;
            border-right-style: solid;border-left-width: 2px;border-left-style: solid;margin-bottom: 20px;padding: 2%; width: 100%">
            <b>Email of account to delete</b>
            <input type="text" placeholder="Enter Email" name="email" required>
            <button type="submit" class="registerbtn">DELETE</button>
          </form>
          <table border="1" style="width: 100%;" style="width: 100%">
            <tr>
              <th>login</th>
              <th>lastname</th>
              <th>date_of_reg</th>
              <th>way_to_photo</th>
              <th>role</th>
            </tr>

            <tr>
              <td>
                lox@lox.l
              </td>
              <td>
                пупкін
              </td>
              <td>
                2000-01-01
              </td>
              <td>
                /asdfadsf/sadfasd/dsaf/photo.png
              </td>
              <td>
                ADMIN/USER/MODERATOR
              </td>
            </tr>

          </table>

        </div>

      </section>
    </div>
  </div>
</section>
<app-footer></app-footer>
