<section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center mb-5 pb-3">
        <div class="col-md-7 heading-section text-center ftco-animate">
          <h2>Recent Stories</h2>
        </div>
      </div>
      <div class="row d-flex">
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="blog-single.html" class="block-20" style="background-image: url('../../../../assets/images/image_1.jpg');">
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center pt-2 mb-4 topp">
                <div class="one">
                  <span class="day">12</span>
                </div>
                <div class="two">
                  <span class="yr">2019</span>
                  <span class="mos">February</span>
                </div>
              </div>
              <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry justify-content-end">
            <a href="blog-single.html" class="block-20" style="background-image: url('../../../../assets/images/image_2.jpg');">
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center pt-2 mb-4 topp">
                <div class="one">
                  <span class="day">12</span>
                </div>
                <div class="two">
                  <span class="yr">2019</span>
                  <span class="mos">February</span>
                </div>
              </div>
              <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry">
            <a href="blog-single.html" class="block-20" style="background-image: url('../../../../assets/images/image_3.jpg');">
            </a>
            <div class="text mt-3 float-right d-block">
              <div class="d-flex align-items-center pt-2 mb-4 topp">
                <div class="one">
                  <span class="day">12</span>
                </div>
                <div class="two">
                  <span class="yr">2019</span>
                  <span class="mos">February</span>
                </div>
              </div>
              <h3 class="heading"><a href="#">Why Lead Generation is Key for Business Growth</a></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>