
<div class="hero-wrap js-fullheight" style="background-image: url('../../../assets/images/bg_1.jpg'); padding-bottom: 35%;"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
      data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }" >
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-top: 10%;">Be a Traveler not a Tourist
        </h1>
        <p class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Travel to the any corner of the
          world, without going around in circles</p>
      </div>
    </div>
  </div>
</div>
<app-navbar></app-navbar>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h2 class="mb-4">Best Place to Travel</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="../../../assets/images/destination-1.jpg" class="img-fluid" alt="Colorlib Template">
          </div>
          <div class="text">
            <h4 class="price">$400</h4>
            <span>15 Days Tour</span>
            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="../../../assets/images/destination-1.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="../../../assets/images/destination-2.jpg" class="img-fluid" alt="Colorlib Template">
          </div>
          <div class="text">
            <h4 class="price">$400</h4>
            <span>15 Days Tour</span>
            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="../../../assets/images/destination-2.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="../../../assets/images/destination-3.jpg" class="img-fluid" alt="Colorlib Template">
          </div>
          <div class="text">
            <h4 class="price">$400</h4>
            <span>15 Days Tour</span>
            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="../../../assets/images/destination-3.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 ftco-animate">
        <div class="project">
          <div class="img">
            <img src="../../../assets/images/destination-4.jpg" class="img-fluid" alt="Colorlib Template">
          </div>
          <div class="text">
            <h4 class="price">$400</h4>
            <span>15 Days Tour</span>
            <h3><a href="project.html">Gurtnellen, Swetzerland</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="../../../assets/images/destination-4.jpg"
            class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<div style="padding: 5em 0;">
<app-about></app-about>
</div>

<div style="padding: 5em 0;">
<app-help-info></app-help-info>
</div>

<section class="ftco-section ftco-no-pb testimony-section" style="background-image: url(../../../assets/images/bg_1.jpg);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
        <h2 class="mb-4">Happy Traveler Says</h2>
      </div>
    </div>
    <div class="row ftco-animate">
      <div class="col-md-12 testimonial">
        <div class="carousel-testimony owl-carousel ftco-owl">
          <div class="item">
            <div class="testimony-wrap img" style="background-image: url(../../../assets/images/traveler-1.jpg);">
              <div class="overlay"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Marketing Manager</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap" style="background-image: url(../../../assets/images/traveler-2.jpg);">
              <div class="overlay"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Interface Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap" style="background-image: url(../../../assets/images/traveler-3.jpg);">
              <div class="overlay"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">UI Designer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap" style="background-image: url(../../../assets/images/traveler-4.jpg);">
              <div class="overlay"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">Web Developer</span>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimony-wrap" style="background-image: url(../../../assets/images/traveler-5.jpg);">
              <div class="overlay"></div>
              <div class="text">
                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                <p class="name">Roger Scott</p>
                <span class="position">System Analyst</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-4 d-flex ftco-animate" *ngFor="let post of pagePost.content">
        <div class="blog-entry justify-content-end" style="width: 100%;">
          <app-little-post [post]="post"></app-little-post>
        </div>
      </div>
    </div>
  </div>
</section>




<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="../../../assets/js/popper.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/jquery.easing.1.3.js"></script>
<script src="../../../assets/js/jquery.waypoints.min.js"></script>
<script src="../../../assets/js/jquery.stellar.min.js"></script>
<script src="../../../assets/js/owl.carousel.min.js"></script>
<script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../../assets/js/aos.js"></script>
<script src="../../../assets/js/jquery.animateNumber.min.js"></script>
<script src="../../../assets/js/bootstrap-datepicker.js"></script>
<script src="../../../assets/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="../../../assets/js/main.js"></script>
