<app-header></app-header>
<div class="hero-wrap js-fullheight"
  style="background-image: url('../../../assets/images/bg_1.jpg'); padding-bottom: 5%;"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
      data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-top: 10%;">Be a
          Traveler not a Tourist
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light" style="padding-top: 20px;">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Routes</h1>
      <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
      <hr class="my-4">
      <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->

      <a [routerLink]="['/routes/create']" class="btn btn-primary btn-lg mr-4" role="button">Create New Route</a>
      <a *ngIf="hasAuthority" [routerLink]="['/routes/notverified']" class="btn btn-primary btn-lg mr-4"
        role="button">Not
        Verified Routes</a>
    </div>
    <app-list-of-routes [routes]="routes" [displayEditButtons]="hasAuthority"></app-list-of-routes>
    <div *ngIf="routes.length == 0" class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Not Found!</h1>
        <p class="lead">No routes were found!</p>
      </div>
    </div>

  </div>
</section>

<section class="ftco-subscribe" style="background-image: url(../../../assets/images/bg_1.jpg);">


</section>
<app-footer></app-footer>