<app-header></app-header>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_2.jpg');"
         data-stellar-background-ratio="0.5">
  <div class="overlay" style="background:white;"></div>
</section>

<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row block-9">
      <section class="container">
        <div class="row blog-entries element-animate">
          <div class="col-md-12 col-lg-8 main-content" style="padding-left: 0px;">
            <h1 class="mb-4">Hotel details</h1>
            <div>
              <button class="btn submit" routerLink="/hotels/edit/{{hotel.id}}">Edit</button>
              <button class="btn submit" (click)="deletePlace()">Delete</button>
            </div>
            <table style="width: 100%;margin-top: 5%;">
              <tr>
                <div style="width: 50%">
                  <app-image-details [fileUpload]="imageURL"></app-image-details>
                </div>
              </tr>
              <tr>
                <td><h4>
                  Name
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.name}}</div></td>
              </tr>
              <tr>
                <td><h4>
                  Description
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.description}}</div>
                </td>
              </tr>
              <tr>
                <td><h4>
                  Website
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.webSite}}</div></td>
              </tr>
              <tr>
                <td><h4>
                  Telephone
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.telephone}}</div></td>
              </tr>
              <tr>
                <td><h4>
                  Working time
                </h4></td>
                <td>
                  <div>
                    <span class="text-info" style="font-size: 18px">Opening time</span>
                    <span class="text-info">&ensp;{{hotel.openingTime}}</span>
                  </div>
                  <div>
                    <span class="text-info" style="font-size: 18px">Closing time</span>
                    <span class="text-info">&emsp;{{hotel.closingTime}}</span>
                  </div>
                </td>
              </tr>
              <tr>
                <td><h4>
                  Address
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.address}}</div></td>
              </tr>
              <tr>
                <td><h4>
                  City
                </h4></td>
                <td>
                  <div>
                    <div class="text-info">{{hotel.cityDTO.name}}</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td><h4>
                  Minimum price
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.minimumPrice}}</div></td>
              </tr>
              <tr>
                <td><h4>
                  Maximum price
                </h4></td>
                <td>
                  <div class="text-info">{{hotel.maximumPrice}}</div></td>
              </tr>
              <tr>
                <td><h4>
                  Working days
                </h4></td>
                <div class="weekDays-selector">
                  <td>
                    <mark *ngFor="let day of hotel.workingDays" style="margin-left: 5px">
                      {{day.substr(0, 3)}}
                    </mark>
                  </td>
                </div>
              </tr>
              <div style="height: 350px; width: 100%"><app-map-display [latitude]="hotel.position.coordinateX" [longitude]="hotel.position.coordinateY" [zoom]="zoom"></app-map-display></div>
            </table>
          </div>
          <div class="col-md-12 col-lg-4 sidebar">
          </div>

        </div>
      </section>
    </div>
  </div>
</section>

<app-footer></app-footer>
<script src="../../../../assets/js/main.js"></script>
