<div class="row d-flex">
  <div class="col-md-4 d-flex ftco-animate" *ngFor="let trip of trips">
    <div class="blog-entry justify-content-end" style="width: 100%;">

      <a routerLink="/trip/{{trip.id}}" class="block-20"
         [ngStyle]="{'background-image': 'url(http://test2-env.2hvwm638dp.us-east-2.elasticbeanstalk.com/trips/' +trip.id +'/image)'}">
      </a>
      <div class="text mt-3 float-right d-block">
        <div class="d-flex align-items-center pt-2 mb-4 topp">
          <div class="one">
            <span class="day">{{trip.id}}</span>
          </div>
          <div class="two">
            <span class="yr"></span>
            <span class="mos">{{trip.creationDate}}</span>
          </div>
        </div>
        <h3 class="heading"><a href="single_page">{{trip.name}}</a></h3>
        <p>{{trip.description}}</p>
      </div>


    </div>
  </div>
</div>
