<app-header></app-header>
<section class="hero-wrap hero-wrap-2 js-fullheight"
         style="background-image: url('../../../../assets/images/bg_2.jpg');"
         data-stellar-background-ratio="0.5">
  <div class="overlay" style="background:white;"></div>
</section>

<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row block-9">
      <section class="container">
        <div class="row blog-entries element-animate">
          <div class="col-md-12 col-lg-8 main-content" style="padding-left: 0px;">
            <h1 class="mb-4">Create a new restaurant</h1>
            <form (ngSubmit)="update()" method="post" enctype="multipart/form-data" [formGroup]="formGroup">
              <!--<div class="col-md-8 col-lg-6 main-content">-->
              <!--<img src="" alt="Image" class="img-fluid mb-5">-->

              <!--<input class="ion-android-radio-button-off" name="image_uploads" type="file"-->
              <!--accept=".jpg, .jpeg, .png" style="margin: 5%;margin-left: 0;"><br>-->
              <!--<p>*File have to be less than 5 MB</p>-->
              <!--</div>-->
              <table style="width: 100%;margin-top: 5%;">
                <tr>
                  <td><h4>
                    Name
                  </h4></td>
                  <td>
                    <input class="form-control" style="width: 100%;" type="text"
                           placeholder="Name"
                           name="name"
                           maxlength="35" [(ngModel)]="restaurant.name" formControlName="name"
                           [ngClass]="formGroup.get('name').invalid ? 'invalid-input' : 'valid-input'"></td>
                </tr>
                <tr>
                  <td><h4>
                    Description
                  </h4></td>
                  <td>
                                        <textarea class="form-control" rows="13" style="
                                        padding-top: 10px;
                                        width: 100%;"
                                                  placeholder="Something about it"
                                                  name="about" [(ngModel)]="restaurant.description" maxlength="255"
                                                  formControlName="description"
                                                  [ngClass]="formGroup.get('description').invalid ? 'invalid-input' : 'valid-input'"></textarea>
                  </td>
                </tr>
                <tr>
                  <td><h4>
                    Website
                  </h4></td>
                  <td>
                    <input class="form-control" style="width: 100%;" type="text"
                           placeholder="Website" name="web" maxlength="35" [(ngModel)]="restaurant.webSite"
                           formControlName="webSite"
                           [ngClass]="formGroup.get('webSite').invalid ? 'invalid-input' : 'valid-input'">
                    <div *ngIf="formGroup.get('webSite').hasError('maxlength')" style="font-style: italic; color: salmon;">URL is too long</div>
                  </td>
                </tr>
                <tr>
                  <td><h4>
                    Telephone
                  </h4></td>
                  <td>
                    <input class="form-control" style="width: 100%;" type="tel"
                           placeholder="Telephone" name="tel" maxlength="15" [(ngModel)]="restaurant.telephone"
                           formControlName="telephone"
                           [ngClass]="formGroup.get('telephone').invalid ? 'invalid-input' : 'valid-input'">
                    <div *ngIf="formGroup.get('telephone').invalid">Eg: +380441234567</div>
                  </td>
                </tr>
                <tr>
                  <td><h4>
                    Working time
                  </h4></td>
                  <td>
                    <h5>Opening time</h5>
                    <input class="form-control" style="width: 50%;" type="time"
                           name="open_time" [(ngModel)]="restaurant.openingTime" formControlName="openingTime"
                           [ngClass]="formGroup.get('openingTime').invalid ? 'invalid-input' : 'valid-input'">
                    <h5>Closing time</h5>
                    <input class="form-control" style="width: 50%;" type="time"
                           name="close_time" [(ngModel)]="restaurant.closingTime" formControlName="closingTime"
                           [ngClass]="formGroup.get('closingTime').invalid ? 'invalid-input' : 'valid-input'"></td>
                </tr>
                <tr>
                  <td><h4 style="margin-top: -10px;">
                    Address
                  </h4></td>
                  <td>
                    <input class="form-control" style="width: 100%;" type="text"
                           placeholder="Please write an address of it"
                           name="address"
                           maxlength="60" [(ngModel)]="restaurant.address" formControlName="address"
                           [ngClass]="formGroup.get('address').invalid ? 'invalid-input' : 'valid-input'"></td>
                </tr>
                <tr>
                  <td><h4 style="margin-top: -20px;">
                    Coordinate
                  </h4></td>
                  <td>
                    <app-map-picker [locationUpdate]="setCoordinates" [setAddress]="setAddress" [addressSearch]="true" style="width: 600px; height: 400px;"></app-map-picker>
                    <div class="form-group d-flex">
                      <input class="form-control" style="width:45%;border-radius: 5px; margin-top: 15px;"
                             type="number"
                             placeholder="X"
                             name="Coordinatex"
                             maxlength="26" [(ngModel)]="position.coordinateX" formControlName="positionX"
                             [ngClass]="formGroup.get('positionX').invalid ? 'invalid-input' : 'valid-input'">
                      <input class="form-control"
                             style="width: 45%;border-radius: 5px;margin-left: 10%; margin-top: 15px" type="number"
                             placeholder="Y"
                             name="Coordinatey"
                             maxlength="26" [(ngModel)]="position.coordinateY" formControlName="positionY"
                             [ngClass]="formGroup.get('positionY').invalid ? 'invalid-input' : 'valid-input'">

                    </div>
                  </td>
                </tr>
                <tr>
                  <td><h4>
                    Average bill
                  </h4></td>
                  <td>
                    <div *ngIf="formGroup.get('averageBill').hasError('max')" style="font-style: italic; color: salmon;">999999 is max value</div>
                    <div *ngIf="formGroup.get('averageBill').hasError('min')" style="font-style: italic; color: salmon;">10 is min value</div>
                    <input class="form-control" style="width: 100%;" type="number"
                    placeholder="Average bill" name="avg_bill" [(ngModel)]="restaurant.averageBill"
                    formControlName="averageBill"
                    [ngClass]="formGroup.get('averageBill').invalid ? 'invalid-input' : 'valid-input'">
                  </td>
                </tr>
                <tr>
                  <td><h4>
                    Has vegan food
                  </h4></td>
                  <td>
                    <input class="form-control-sm" style="width: 10%;" type="checkbox"
                           placeholder="has_vegan_food" name="has_vegan_food" [(ngModel)]="restaurant.hasVeganFood"
                           (change)="restaurant.hasVeganFood" formControlName="hasVeganFood"></td>
                </tr>
                <tr>
                  <td><h4>
                    Working days
                  </h4></td>
                  <div class="weekDays-selector">
                    <td>
                      <label *ngFor="let day of workingDays">
                        <input type="checkbox" class="weekday" (change)="setWorkingDays(day)"
                               formControlName="workingDays" [checked]="restaurant.workingDays.includes(day)"/>
                        <mark>{{day.substr(0, 3)}}</mark>
                      </label>
                      <div style="color: salmon; font-style: italic" *ngIf="formGroup.get('workingDays').invalid">Choose at least one day</div>
                  </div>
                </tr>
                <app-image-upload-form [multiple]="false" [requestType]="'PUT'" [setStorageURL]="photoUrl" [setUploadedImages]="imageURLs" [UploadStart]="uploadPhoto"></app-image-upload-form>
              </table>
              <input *ngIf="formGroup.valid" class="category submit"
                     style="padding: 3%;
                                   margin-top: 5%;
                                   font-size: 90%;
                                   border-radius:5px;
                                   margin-bottom: 30px;"
                     type="submit"
                     value="Edit" [disabled]="!formGroup.valid"><br>
            </form>
          </div>
          <div class="col-md-12 col-lg-4 sidebar">
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<app-footer></app-footer>
<script src="../../../../assets/js/main.js"></script>
