

<section  class="ftco-section ftco-no-pb contact-section">
  <div class="container">
    <h1 align="center">Creator info</h1>
    <div class="row d-flex contact-info">
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center"  class="vcard bio">
            <!--<span class="icon-map-signs"><img src="http://localhost:8080/accounts/2/image"></span>-->
            <span class="icon-map-signs " >  <app-image-details  [fileUpload]="getImageString(tripDetailsDTO.creator.id)"></app-image-details> </span>
          </div>
          <h3 class="mb-4">{{tripDetailsDTO.creator.firstName}}    {{tripDetailsDTO.creator.lastName}}</h3>
          <p>{{tripDetailsDTO.creator.registrationDate}}</p>
        </div>
      </div>

      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-phone2"><img src="../../../../assets/images/round_phone_black_48dp.png"></span>
          </div>
          <h3 class="mb-4">Contact Number</h3>
          <p><a href="tel://{{tripDetailsDTO.creator.phoneNumber}}"> {{tripDetailsDTO.creator.phoneNumber}}</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-paper-plane"><img src="../../../../assets/images/round_alternate_email_black_48dp.png"> </span>
          </div>
          <h3 class="mb-4">Email Address</h3>
          <p><a href="mailto:{{tripDetailsDTO.creator.email}}"> {{tripDetailsDTO.creator.email}}</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-globe"> <img src="../../../../assets/images/round_supervised_user_circle_black_48dp.png"></span>
          </div>
          <h3 class="mb-4">Role</h3>
          <p><a>{{tripDetailsDTO.creator.role}}</a></p>
        </div>
      </div>

    </div>
    <h1 align="center">Trip info</h1>
    <br>
    <h2>{{tripDetailsDTO.route.name}}</h2>
    <br>


  </div>
</section>



<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate">
        <h2 class="mb-4">Trip places</h2>
      </div>
    </div>
    <div class="row"   >
      <div class="col-md-6 col-lg-3 ftco-animate" *ngFor="let place of tripDetailsDTO.route.places">
        <div class="project">
          <div class="img" >
            <img [src]="getPlaceImageString(place.id)" class="img-fluid" alt="Colorlib Template">
          </div>
          <div class="text">
            <h4 class="price">{{place.id}}</h4>
            <span>{{place.description}}</span>
            <h3><a [href]="getSelfLink(place)">{{place.name}}</a></h3>
            <div class="star d-flex clearfix">
              <div class="mr-auto float-left">
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
                <span class="ion-ios-star"></span>
              </div>
              <div class="float-right">
                <span class="rate"><a href="#">(120)</a></span>
              </div>
            </div>
          </div>
          <a href="../../../../assets/images/destination-1.jpg"
             class="icon image-popup d-flex justify-content-center align-items-center">
            <span class="icon-expand"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div style="margin:auto; height: 28em; width: 100%; padding: 2%;">
    <app-route-map [places]="tripDetailsDTO.route.places"></app-route-map>
  </div>


</section>



<section class="ftco-section ftco-no-pb contact-section">
  <div class="container">
    <h1 align="center">Subscribers</h1>

    <app-subscribers [tripId]="tripDetailsDTO.id"></app-subscribers>
    <app-chat [chatId]="tripDetailsDTO.chatId" ></app-chat>
    <button type="submit"(click)="goBack()" class="btn btn-primary" >Back</button>
    <a type="submit" routerLink="/edit_trip/{{tripDetailsDTO.id}}" class="btn btn-primary" style="margin-left: 20px;">Edit</a>
  </div>
</section>
<br>
<br>
<br>
<br>
<br>


