<app-header></app-header>

<section class="ftco-section ftco-no-pb contact-section">
  <div class="container">
    <h1 align="center">Creator info</h1>
    <div class="row d-flex contact-info">
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-map-signs"><img src="../../../../assets/images/round_account_circle_black_48dp.png"></span>
          </div>
          <h3 class="mb-4">{{tripDetailsDTO.creator.firstName}}    {{tripDetailsDTO.creator.lastName}}</h3>
          <p>{{tripDetailsDTO.creator.registrationDate}}</p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-phone2"><img src="../../../../assets/images/round_phone_black_48dp.png"></span>
          </div>
          <h3 class="mb-4">Contact Number</h3>
          <p><a href="tel://1234567920"> {{tripDetailsDTO.creator.phoneNumber}}</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-paper-plane"><img src="../../../../assets/images/round_alternate_email_black_48dp.png"> </span>
          </div>
          <h3 class="mb-4">Email Address</h3>
          <p><a href="mailto:info@yoursite.com"> {{tripDetailsDTO.creator.email}}</a></p>
        </div>
      </div>
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-globe"> <img src="../../../../assets/images/round_supervised_user_circle_black_48dp.png"></span>
          </div>
          <h3 class="mb-4">Role</h3>
          <p><a>{{tripDetailsDTO.creator.role}}</a></p>
        </div>
      </div>

    </div>
    <h1 align="center">Trip info</h1>
    <br>
    <h2>{{tripDetailsDTO.route.name}}</h2>
    <br>
    <!--<section class="ftco-section bg-light">-->
    <!--<div style="text-align:center; width:70%; margin: auto;">-->
    <!--<h1 style="text-align: center;">{{findGroupDetailsDTO.route.name}}</h1>-->
    <!--<div style="display: inline-block; margin:auto;">-->
    <!--<h4>Creation Date: {{findGroupDetailsDTO.route.creationDate}}</h4>-->
    <!--<h4 style="text-align: left;">Places: </h4>-->
    <!--<div style="display:grid; grid-gap:20px 10px;-->
    <!--grid-template-columns: auto auto auto;">-->

      <!--<div style="border: 1px solid black; padding: 20px 5px; max-width: 250px;" *ngFor="let place of findGroupDetailsDTO.route.places">-->
        <!--<h4><a [href]="getSelfLink(place)">{{place.name}}</a></h4>-->
        <!--<p>{{place.description}}</p>-->
      <!--</div>-->

      <section class="ftco-section bg-light">
        <div class="container">
          <div class="row d-flex">
            <div class="col-md-4 d-flex ftco-animate" *ngFor="let place of tripDetailsDTO.route.places">
              <div class="blog-entry justify-content-end" style="width: 100%;">

                <a [href]="getSelfLink(place)" class="block-20" style="background-image: url('../../../../assets/images/place.png');">
                </a>
                <div class="text mt-3 float-right d-block">
                  <div class="d-flex align-items-center pt-2 mb-4 topp">
                    <div class="one">
                      <span class="day">{{place.id}}</span>
                    </div>
                    <div class="two">
                      <!--<span class="yr">{{place.name}}</span>-->
                      <!--<span class="mos">{{place..creationDate}}</span>-->
                    </div>
                  </div>
                  <h3 class="heading"><a href="single_page">{{place.name}}</a></h3>
                  <p>{{place.description}}</p>
                </div>



              </div>
            </div>
          </div>

        </div>
      </section>


    <!--</div>-->

    <!--</div>-->
    <!--</div>-->
    <!--</section>-->

  </div>
</section>


<section class="ftco-section ftco-no-pb contact-section">
  <div class="container">
    <h1 align="center">Subscribers</h1>
    <div class="row d-flex contact-info">

    <div *ngFor="let subscriber of tripDetailsDTO.subscribers;">
    <div class="col-md-3 d-flex">
      <div class="align-self-stretch box p-4 text-center">
        <div class="icon d-flex align-items-center justify-content-center">
          <span class="icon-map-signs"><img src="../../../../assets/images/round_perm_identity_black_48dp.png"></span>
        </div>
        <h3 class="mb-4">{{subscriber.firstName}}    {{subscriber.lastName}}</h3>
        <p align="center" >subscribed</p>
      </div>
    </div>
    </div>
      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-map-signs"><img src="../../../../assets/images/round_add_circle_outline_black_48dp.png"></span>
          </div>
          <h3 class="mb-4">subscribe</h3>
          <p align="center" ></p>
        </div>
      </div>
    </div>

    <button type="submit"(click)="goBack()" class="btn btn-primary" >Back</button>
  </div>


</section>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<app-footer></app-footer>

