 <a href="single_page" id="block" class="block-20" >
   <img src="{{post.photoPath}}" alt="img">
  </a>

  <div class="text mt-3 float-right d-block">
    <div class="d-flex align-items-center pt-2 mb-4 topp">
      <div class="one">
        <span class="day">{{post.date}}</span>
      </div>
      <div class="two">
        <span class="yr">{{post.year}}</span>
        <span class="mos">{{post.month}}</span>
      </div>
    </div>
    <h3 class="heading"><a href="single_page">{{post.name}}</a></h3>
    <p>{{post.description}}</p>
  </div>


