 <a href="post/{{post.id}}" id="block" class="block-20" >
   <app-image-details [fileUpload]="imageURL+post.images[0]?.id"></app-image-details>
  </a>

  <div class="text mt-3 float-right d-block">
    <div class="d-flex align-items-center pt-2 mb-4 topp">
      <div class="one">
        <span class="day">{{date}}</span>
      </div>
      <div class="two">
        <span class="yr">{{year}}</span>
        <span class="mos">{{month}}</span>
      </div>
    </div>
    <h3 class="heading"><a href="post/{{post.id}}">{{post.name}}</a></h3>
    <p>{{post.content}}</p>
  </div>


