<div class="block-21 mb-4 d-flex">
  <a class="blog-img mr-3" style="background-image: url(../../../assets/images/image_1.jpg); width: 78px"></a>
  <div class="text">
    <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
    </h3>
    <div class="meta">
      <div><a href="#"><span class="icon-calendar"></span> February 12, 2019</a></div>
      <div><a href="#"><span class="icon-person"></span> Admin</a></div>
      <div><a href="#"><span class="icon-chat"></span> 19</a></div>
    </div>
  </div>
</div>
