<div class="row d-flex contact-info">

      <div *ngFor="let subscriber of subscribers;">
        <div class="col-md-3 d-flex">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="icon-map-signs"><img src="../../../../assets/images/round_perm_identity_black_48dp.png"></span>
            </div>
            <h3 class="mb-4"><a [href]="getSelfLink(subscriber)">{{subscriber.firstName}}    {{subscriber.lastName}}</a></h3>
            <p align="center"  >subscribed</p>

          </div>
        </div>
      </div>

      <div class="col-md-3 d-flex">
        <div class="align-self-stretch box p-4 text-center">
          <div class="icon d-flex align-items-center justify-content-center">
            <span class="icon-map-signs"><img src="../../../../assets/images/round_add_circle_outline_black_48dp.png" ></span>
          </div>
          <h3 class="mb-4">subscribe</h3>


        <div *ngIf="!isSubscribed"> <button type="submit" (click)="subscribe()" class="btn btn-primary" >subscribe</button></div>
          <div *ngIf="isSubscribed"> <button type="submit" (click)="unsubscribe()" class="btn btn-primary" >unsubscribe</button></div>


          <p align="center" ></p>
        </div>
      </div>

</div>
