<section class="ftco-counter img" id="section-counter">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 d-flex">
          <div class="img d-flex align-self-stretch" style="background-image:url(../../../../assets/images/about.jpg);"></div>
        </div>
        <div class="col-md-6 pl-md-5 py-5">
          <div class="row justify-content-start pb-3">
            <div class="col-md-12 heading-section ftco-animate">
              <h2 class="mb-4">About Tips4Trips</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center py-5 bg-light mb-4">
                <div class="text">
                  <strong class="number" data-number="30">{{account}}</strong>
                  <span>Us already</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center py-5 bg-light mb-4">
                <div class="text">
                  <strong class="number" data-number="200">{{trip}}</strong>
                  <span>All Trips</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center py-5 bg-light mb-4">
                <div class="text">
                  <strong class="number" data-number="2500">{{city}}</strong>
                  <span>We are in cities</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 justify-content-center counter-wrap ftco-animate">
              <div class="block-18 text-center py-5 bg-light mb-4">
                <div class="text">
                  <strong class="number" data-number="40">{{post}}</strong>
                  <span>Posts in our blog</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
