<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-6">
        <select style="width:100%" (change)="loadCitiesByCountry($event.target.value)">
          <option disabled>Select country</option>
          <option *ngFor="let c of countries" value={{c.id}}>{{c.name}}</option>
        </select>
      </div>
      <div class="col-sm-1">
        <button type="button" class="btn btn-primary btn-sm btn-block btn-res" (click)="resetCountry()">Reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4" *ngFor="let c of cities">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title" style="margin-top: 10px;">{{c.name}}</h5>
              <bar-rating theme="fontawesome-o" [(rate)]="c.averageRating" [max]="5"></bar-rating>
              <h5 class="card-title" style="margin-top: 10px;">({{c.averageRating}})</h5>
            </div>
            <div style="height: 200px; width: 320px">
              <app-map-display [latitude]="c.position.coordinateX" [longitude]="c.position.coordinateY" [zoom]="zoom">
              </app-map-display>
            </div>
            <button [routerLink]="['/city-rating/',c.id]" type="button" class="btn btn-primary">Go to the city</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="../../../../assets/js/main.js"></script>