<app-under [str]="'Sorry(('"></app-under>
<section class="ftco-section bg-light">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-8 d-flex ftco-animate">
        <div class="blog-entry justify-content-end" style="width: 100%;">
          <h1>Oops! Something Went Wrong!</h1>
          <br>
          <h3>{{message}}
            <br>
            Would you like to <a href="/">go back.</a></h3>
        </div>
      </div>
      <div class="col-md-2 d-flex ftco-animate">
        <img src="../../../assets/images/duck.webp">
      </div>
    </div>

  </div>
</section>
<section class="ftco-subscribe" style="background-image: url(../../../assets/images/bg_1.jpg);">


</section>

