<div class="row mt-5">
  <div class="col text-center">
    <div class="block-27">
      <ul>
        <li *ngIf="back">
          <a href="{{link}}{{number}}">&lt;</a>
        </li>
        <li *ngIf="back">
          <a href="{{link}}{{number}}">{{number}}</a>
        </li>
        <li class="active"><span>{{number +1}}</span></li>
        <li *ngFor="let item of page"><a href="{{link}}{{item}}">{{item}}</a></li>
        <li *ngIf="front"><a href="{{link}}{{total}}">{{total}}</a></li>
        <li *ngIf="front"><a href="{{link}}{{number+2}}">&gt;</a></li>
      </ul>
    </div>
  </div>
</div>
