<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><span>Tips4Trips</span></a>
    <button class="navbar-toggler" (click)="showIt()" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> Menu
    </button>
    <div class="navbar-collapse collapse show" id="ftco-nav" *ngIf="show">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item actice"><a class="nav-link" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/trip/page">Trips</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Contact</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/test">Test</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/routes">Routes</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/news">News</a></li>
        <li class="nav-item">
          <form class="form-inline active-cyan active-cyan-2">
            <i class="fas fa-search" aria-hidden="true"></i>
            <span class="icon fa fa-search" style="margin-top: -8px;"></span>
            <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search"
                   style="border: 1px solid #C0C0C0;">
          </form>
        </li>
        <li class="nav-item cta"><a class="nav-link" routerLink="/account" style="white-space: pre;">My Account</a></li>

      </ul>
    </div>
  </div>
</nav>


<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/jquery-migrate-3.0.1.min.js"></script>
<script src="../../../assets/js/popper.min.js"></script>
<script src="../../../assets/js/bootstrap.min.js"></script>
<script src="../../../assets/js/jquery.easing.1.3.js"></script>
<script src="../../../assets/js/jquery.waypoints.min.js"></script>
<script src="../../../assets/js/jquery.stellar.min.js"></script>
<script src="../../../assets/js/owl.carousel.min.js"></script>
<script src="../../../assets/js/jquery.magnific-popup.min.js"></script>
<script src="../../../assets/js/aos.js"></script>
<script src="../../../assets/js/jquery.animateNumber.min.js"></script>
<script src="../../../assets/js/bootstrap-datepicker.js"></script>
<script src="../../../assets/js/scrollax.min.js"></script>
<script src="../../../assets/js/main.js"></script>

