<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
  <div class="container">
    <a class="navbar-brand" routerLink="/home"><span>Traveland</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="oi oi-menu"></span> Menu
    </button>

    <div class="collapse navbar-collapse" id="ftco-nav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Blog</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Trips</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">About</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/">Contact</a></li>
        <li class="nav-item">
            <form class="form-inline active-cyan active-cyan-2">
                <i class="fas fa-search" aria-hidden="true"></i>
                <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
              </form>
        </li>
        <li class="nav-item cta"><a class="nav-link" routerLink="/login">My Account</a></li>

      </ul>
    </div>
  </div>
</nav>