<a href="/routes/{{routeInfo.id}}" class="block-20" 
style="background-image: url('../../../assets/images/image_1.jpg');"></a>
<div class="text mt-3 float-right d-block">
  <h3 class="heading"><a [routerLink]="['/routes/' + routeInfo.id]">{{routeInfo.name}}</a></h3>
  <p>{{routeInfo.creationDate}}</p>
  <p>Created by <a href="">{{routeInfo.authorInfo.firstName}} {{routeInfo.authorInfo.lastName}}</a></p>
  <div>
    <ng-container *ngIf="displayEditButtons">
        <button (click)="edit()">Edit</button>
        <button (click)="delete.emit()">Delete</button>
    </ng-container>
    <button *ngIf="displayVerifyButton" (click)="verify.emit(routeInfo.id)">Verify</button>
  </div>
</div>