<div class="container justify-content-center" style="height: 100%;">
  <div class="d-flex flex-column" style="height: 100%; max-height: 812px;">
    <h2 class="p-2">{{title}}</h2>
    <div class="p-2 chat"></div>
    <input id="input" type="text" class="p-2 mt-auto input-group border border-success rounded"
           #input
           (keyup.enter)="sendMessage(input.value)"/>
  </div>
</div>



<div class="row d-flex">
  <div class="col-md-4 d-flex ftco-animate" *ngFor="let mes of messages">
    <p>{{mes.id}} </p>
    <br>
    <p>{{mes.chatId}} </p>
    <br>
    <p>{{mes.content}} </p>
    <br>
    <p>sender id </p>
    <p>{{mes.senderId}} </p>
    <br>
    <p>{{mes.senderFirstName}} </p>
    <br>
    <p>{{mes.senderLastName}} </p>
  </div>
</div>
