<app-header></app-header>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_2.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay" style="background:white;"></div>
</section>

<section class="ftco-section contact-section" style="margin-bottom: 90px;">
    <div class="container">
        <div class="row block-9">
            <section class="container">
                <div class="row blog-entries element-animate">
                    <div class="col-md-12 col-lg-8 main-content" style="padding-left: 0px;">
                      <h1 class="mb-4">Create a new place</h1>
                      <h2 class="mb-4">Choose category</h2>
                      <form>
                        <select onChange="window.document.location.href=this.options[this.selectedIndex].value;">
                          <option disabled>--none--</option>
                          <option value="login">Restaurant</option>
                          <option value="sing_up">Hotel</option>
                          <option value="sing_up">Monument</option>
                        </select>
                      </form>
                    </div>
                    <div class="col-md-12 col-lg-4 sidebar">
                    </div>

                </div>
            </section>
        </div>
    </div>
</section>

<app-footer></app-footer>
<script src="../../../../assets/js/main.js"></script>
