.form-control{
  height: 70px !important;
  border: 1px solid transparent;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 20px;
  background: rgba(0, 0, 0, 0.05) !important;
  border-radius: 5px 0px 0px 5px;
  padding: 0 20px;
  margin-bottom: 20px;
}
.submit{
  color: #fff !important;
  margin-bottom: -20px;
  background: #ffb400 !important;
  border-radius: 5px 5px 5px 5px;
  font-size: 16px;
  border: 1px solid transparent;
  height: 70px;
}
select {
  margin: 15px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.05) ;
  background-color: rgba(0, 0, 0, 0.05) ;
  height: 75px;
  font-family: Arial;
  color: #8e8e8e;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

