<div class="hero-wrap js-fullheight"
     style="height:40%;
     background-image: url('../../../assets/images/bg_1.jpg');
      padding-bottom: 5%;"
     data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
         data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"
            style="margin-top: 10%;">{{str}}
        </h1>
      </div>
    </div>
  </div>
</div>
