<div class="container">
  <div class="row d-flex">
    <div class="col-md-4 d-flex ftco-animate" *ngFor="let place of places">
      <div class="blog-entry justify-content-end" style="width: 100%;">
        <div class="container post">
          <div class="row" style="height:397px;">
            <div class="col-md-6 col-md-offset-0 post-title" style="height:400px;">
              <h1 style="margin-right:60px;"><a href={{transferSelfUrl(place.self)}}>{{place.name}}</a></h1>
              <img src="../../../assets/images/destination-1.jpg" class="img-thumbnail"
                style="width:370px;margin-right:32px;" />
            </div>
            <div class="col-md-6 col-md-offset-0 post-body" style="height:300px;margin-top:45px;">
              <figure></figure>
              <p>{{place.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>