<app-header></app-header>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_2.jpg');"
         data-stellar-background-ratio="0.5">
    <div class="overlay" style="background:white;"></div>

</section>



<section class="ftco-section ftco-no-pb contact-section">
        <div class="container">
          <div class="row d-flex contact-info">
            <div class="col-md-3 d-flex">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-map-signs"><img src="../../../../assets/images/round_account_circle_black_48dp.png"></span>
                    </div>
                    <h3 class="mb-4">{{accountProfile.firstName}}    {{accountProfile.lastName}}</h3>
                    <p>{{accountProfile.registrationDate}}</p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-phone2"><img src="../../../../assets/images/round_phone_black_48dp.png"></span>
                    </div>
                    <h3 class="mb-4">Contact Number</h3>
                  <p><a href="tel://1234567920"> {{accountProfile.phoneNumber}}</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-paper-plane"><img src="../../../../assets/images/round_alternate_email_black_48dp.png"> </span>
                    </div>
                    <h3 class="mb-4">Email Address</h3>
                  <p><a href="mailto:info@yoursite.com"> {{accountProfile.email}}</a></p>
                </div>
            </div>
            <div class="col-md-3 d-flex">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="icon-globe"> <img src="../../../../assets/images/round_supervised_user_circle_black_48dp.png"></span>
                    </div>
                    <h3 class="mb-4">Role</h3>
                  <p><a>{{accountProfile.role}}</a></p>
                </div>
            </div>
            
          </div>
        </div>
      </section>

<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
      <div class="row block-9">
          <section class="container">
              <div class="row blog-entries element-animate">
                  <div class="col-md-12 col-lg-8 main-content" style="padding-left: 0px;">
                    <h1 class="mb-4">Your account</h1>  
                    <h2>    {{accountProfile.about}}   </h2>

                    <button (click)='logout()'>Logout</button>
                      

                          <!-- <table style="width: 100%;margin-top: 5%;">

                              <tr>
                                  <td><h4 >
                                      First Name
                                  </h4></td>
                                  <td><h4   >
                                      
                                  {{accountProfile.firstName}}
                                  </h4></td>
                              </tr>
                              
                         

                              <tr>
                                  <td><h4>
                                      Last Name
                                  </h4></td>
                                  <td><h4>
                                      {{accountProfile.lastName}}
                                  </h4></td>
                              </tr>
                              <tr>
                                  <td><h4>
                                      Email     
                                  </h4></td>
                                  <td><h4>
                                    {{accountProfile.email}}
                                  </h4></td>
                              </tr>

                         
                              <tr>
                                  <td><h4>
                                      Telephone
                                  </h4></td>
                                  <td><h4>
                                      {{accountProfile.phoneNumber}}
                                  </h4></td>
                              </tr>
                   
                         
                            <tr>
                                <td><h4>
                                    About
                                </h4></td>
                                <td><h4>
                                    {{accountProfile.about}}
                                </h4></td>
                            </tr>
                        </table> -->
                                 <button type="submit"(click)="editAccount()" class="btn btn-primary" >Edit</button>
                     
                  </div>

            

                  <!-- <div class="col-md-12 col-lg-4 sidebar">
                      <div class="sidebar-box search-form-wrap">
                          <a class="nav-item cta" href="/logout" style="padding: 5%; font-size: 16px;
                          color: #fff;
                          border: 1px solid #ffb400;
                          padding-top: .8rem;
                          padding-bottom: .8rem;
                          padding-left: 18px;
                          padding-right: 18px;
                          background: #ffb400;
                          margin-top: .5rem;
                          -webkit-border-radius: 2px;
                          -moz-border-radius: 2px;
                          -ms-border-radius: 2px;
                          border-radius: 2px;">
                              LOGUOT</a>
                      </div>
                  </div> -->
              </div>

          </section>
      </div>
  </div>
</section>

<app-footer></app-footer>