<div class="hero-wrap js-fullheight"
     style="height:30%;background-image: url('../../../assets/images/bg_2.jpg'); "
     data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
         data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-top: 10%;">
          Test page
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row block-9">
      <section class="container">
        <div class="row blog-entries element-animate">
          <div class="col-md-12 col-lg-8 main-content" style="padding-left: 0px;">
            <h1 class="mb-4">Test page</h1>
            <h4><a href="create_post">Create Post</a> </h4>
            <h4><a href="create_trip">Create Trip</a> </h4>
            <h4><a href="list_of_users">list_of_users</a> </h4>
          </div>
          <div class="col-md-12 col-lg-4 sidebar">
          </div>
        </div>
      </section>
    </div>
  </div>
</section>


<script src="../../../../assets/js/main.js"></script>
