
<ul *ngFor="let comment of allComments "  class="comment-list">
  <li class="comment">
    <div class="vcard bio">
      <img src="../../../assets/images/person_1.jpg" alt="Image placeholder">
    </div>
    <div class="comment-body">
      <h3>{{comment.accountInfo.firstName}} {{comment.accountInfo.lastName}}</h3>

      <div class="meta">{{comment.creationDate}}</div>

      <p style="font-size: 16px; text-align: justify ">{{comment.text}}</p>
      <p class="pointer">
        <!--<button *ngIf="account.id==comment.accountInfo.id" [hidden]="isHidden" (click)="deleteComment(comment.id,comment)" class="reply" >Delete</button>-->
        <a *ngIf="account.id==comment.accountInfo.id" [hidden]="isHidden" (click)="deleteComment(comment.id,comment)" class="reply" >Delete</a>

      </p>
    </div>
  </li>
</ul>

<!--<td><button type="submit" >delete</button></td>-->
<!--<td><a href="{{comment.self}}">...read more</a> </td>-->
<div class="comment-form-wrap pt-5">
  <div *ngIf="!noComment">
    <h3 class="mb-5">Leave a comment</h3>
  </div>
  <form #f="ngForm"  (ngSubmit)="onSubmit(f)" [formGroup]="formGroup" class="p-5 bg-light">

    <div class="form-group">
      <label for="message">Message</label>
      <textarea style="font-size: 18px; font-family: 'Times New Roman'" name="name" id="message" cols="30" rows="10" class="form-control"
                formControlName="description"    [(ngModel)]=commentProfile.text ></textarea>
    </div>
    <div class="form-group">
      <input [disabled]="isButtonDisabled" [disabled]="!formGroup.valid" type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
    </div>

  </form>
</div>


