<app-header></app-header>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_2.jpg'); padding-bottom: 40%;"
         data-stellar-background-ratio="0.5">
</section>

<section class="ftco-section contact-section" style="margin-bottom: 90px;">
  <div class="container">
    <div class="row block-9">
          <form form ="loginForm" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
            <p class="h3 mb-4">Sign in</p>
            <input type="text" name="login" [(ngModel)]="loginForm.login" class="form-control mb-4" placeholder="Username">
            <input type="password" name="password" [(ngModel)]="loginForm.password" class="form-control mb-4" placeholder="Password">
        
            <button mdbBtn style="background-color: #336B87;" block="true" class="my-4" type="submit">Sign in</button>
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

            <div class="chekbox-two">
              <label class="checkbox" style="padding: 15px;">
                <input type="checkbox" checked="">
                <span class="checkbox__icon"></span>
                Remember me
              </label>
            </div>

            <div class="container signin">
              <p>Have not already an account? <a href="sing_up">Create account</a>.</p>
            </div>

            <div class="container" style="background-color:#f1f1f1; padding: 15px;">
              <span class="psw">Forgot <a href="#">password?</a></span>
            </div>
          </form>
        </div>
  </div>
</section>

<app-footer></app-footer>
<script src="../../../../assets/js/main.js"></script>