<section class="ftco-section ftco-no-pb ftco-no-pt">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search-wrap-1 ftco-animate p-4">
          <form action="#" class="search-property-1">
            <div class="row">

              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="#" style="width: 50%">Country</label>
                  <select required name="country" style="width: 50%">
                    <option>Пункт 1</option>
                    <option>Пункт 2</option>
                  </select>
                </div>
              </div>
              <div class="col-lg align-items-end">
                <div class="form-group">
                  <label for="#" style="width: 50%">City</label>
                  <select required name="city" style="width: 50%">
                    <option>Пункт 1</option>
                    <option>Пункт 2</option>
                  </select>
                </div>
              </div>
              <div class="col-lg align-self-end">
                <div class="form-group">
                  <div class="form-field">
                    <input type="submit" value="Find" class="form-control btn btn-primary">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
