<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div style="width: 100%">
  <span  class="fa fa-star  checked"></span>
  <span  class="fa fa-star {{two}}"></span>
  <span  class="fa fa-star {{three}}"></span>
  <span  class="fa fa-star {{four}}"></span>
  <span  class="fa fa-star {{five}}"></span>
  <div class="row d-flex">
    <h5>{{feedbackPlaceModel.creator.lastName}} {{feedbackPlaceModel.creator.firstName}}</h5>
    <p style="margin-top: 1rem;margin-left: .4rem;margin-right: .4rem;"> {{feedbackPlaceModel.comment}}</p>
  </div>
  <h5>{{feedbackPlaceModel.date}}</h5>

</div>
