<div class="hero-wrap js-fullheight"
  style="background-image: url('../../../assets/images/bg_2.jpg'); "
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-end"
      data-scrollax-parent="true">
      <div class="col-md-7 ftco-animate mt-5" data-scrollax=" properties: { translateY: '70%' }">
        <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="margin-top: 10%;">Be a
          Traveler not a Tourist
        </h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light mt-0 mb-5">
  <div style="text-align:center; width:70%; margin: auto; margin-bottom: 7em;">
    <h1 style="text-align: center;">{{route.name}}</h1>
    <div style="display: inline-block; margin:auto;">
      <h4>Creation Date: {{route.creationDate}}</h4>
      <h6 *ngIf="route.verified">verified</h6>
      <div style="margin:auto; height: 28em; width: 100%; padding: 2%;">
        <app-route-map [places]="route.places"></app-route-map>
      </div>
      <h4 style="text-align: left;">Places: </h4>
      <div class="card-deck mt-2">
          <div class="card" *ngFor="let place of route.places" style="background: #f8f9fa !important; max-width: 18rem; min-width: 18rem; display: inline-block; border: none;" >
              <app-place-info [place]="place"></app-place-info>
          </div>
      </div>
      <div style="float: left;" class="mt-3"><button type="button" (click)="goBack()" class="btn btn-link">Back</button></div>
      <div style="float: right;" class="mt-3" *ngIf="hasAuthority || (currUser?.id == route.authorInfo?.id && !route.verified)">
        <button type="button" class="btn btn-warning ml-3" (click)="edit()">Edit</button>
        <button type="button" class="btn btn-danger ml-3" (click)="delete()">Delete</button>
        <button (click)="verify()" type="button" class="btn btn-success ml-3" *ngIf="hasAuthority && !route.verified">Verify</button>
      </div>
    </div>
  </div>
</section>

