<app-header></app-header>
<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../../../assets/images/bg_2.jpg');"
         data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate pb-5 text-center">
        <h1 class="mb-3 bread" style="margin-top: 10%;">My News</h1>

      </div>
    </div>
  </div>
</section>
<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-md-last ftco-animate">
        <ul *ngFor="let post of posts"  class="comment-list">
          <h4 ><a style="color:#4d4d4d" href="/profile/{{post.accountId}}">{{post.firstName}} {{post.lastName}}</a></h4>
          <h6 style="color: #868e96">{{post.creationDate}}</h6>

          <ul *ngFor="let image of post.images"  class="comment-list">
            <li>
              <app-image-details [fileUpload]="getImageString(image)"></app-image-details>
            </li>
          </ul>
        <!--<img src="getImageString({{post.images[0]}})" alt="photo" class="img-fluid">-->
          <app-like [postid]="post.id"></app-like>
        <h2 class="mb-3"><a href="/post/{{post.id}}">{{post.name}}</a></h2>
          <p *ngIf="post.content.length>275 "> {{post.content.substr(0,275)}}<span *ngIf="more==true">{{post.content.substr(275,post.content.length)}}</span><button (click)="readMore()"  class="btn btn-link">...read more/less</button></p>
        <p *ngIf="post.content.length<=275 "> {{post.content}}</p>

          <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla-->
            <!--et dictum interdum, nisi lorem egestas-->
            <!--vitae scel<span id="dots{{post.id}}">...<span id="more{{post.id}}" style="display: none">erisque enim ligula venenatis dolor.-->
              <!--Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum-->
            <!--augue ut aliquet. Nunc sagittis dictum nisi, sed ullamcorper-->
            <!--ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed-->
            <!--ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla-->
              <!--congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></span></p>-->
          <!--<button onclick="myFunction()" id="myBtn{{post.id}}">Read more</button>-->

        </ul>
      </div>

    </div>
  </div>
</section>

<!--<section class="ftco-section">-->
  <!--<div class="container">-->
    <!--<ul *ngFor="let post of posts"  class="comment-list">-->
      <!--<li >-->

       <!--<div>{{post.name}}</div>-->
       <!--<div>{{post.firstName}} {{post.lastName}}</div>-->
       <!--<div>{{post.creationDate}}</div>-->
        <!--<div>{{post.content}}</div>-->
        <!--<div>{{post.photoPath}}</div>-->


        <!--<div></div>-->




      <!--</li>-->



    <!--</ul>-->
  <!--</div>-->
<!--</section>-->

<app-footer></app-footer>
